.login-signup-form-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;

  .form-container {
    //right: 0px;
    right: -600px;
    position: absolute;
    animation: slideIn 0.5s linear 0.5s forwards;
    .slide-in{
      right: -600px;
      animation: slideIn 0.5s linear 0.5s forwards;
    }
    @keyframes slideIn {
      to {
        right: 0;
      }
    }
  }
}

::ng-deep .login-signup-bottomsheet-backdrop.cdk-overlay-backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

}

::ng-deep .cdk-overlay-container {
  width: 100vw;
  position: fixed;
  border: 0;
  bottom: 0;
  .login-signup-bottomsheet-container {
    display: flex;
    justify-content: center;

    .mat-bottom-sheet-container{
      //min-width: 480px;
      box-shadow: none;
      padding: 0;
      margin: 0;
      max-width: none;
    }
  }
}

