.enable {
  background-color: var(--primary-color);
  color: white;
}

.disable {
  background-color: var(--button-color-disable);
  color: var(--text-color-disable);
}

.icon-enable {
  color: var(--text-color-enable);
}

.icon-disable {
  color: var(--text-color-disable);
}
