.main-container {
  height: calc(100vh - 56px);
  //background-color: #b21010;

  .left-section {
    background-color: forestgreen;
    width: calc(70% - 1px);
  }

  .right-section {
    width: 30%;
    height: 100%;
  }
}
