.login-signup-form-container-i {
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 600px;
  height: 100vh;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--background-color);
  transition: all 0.5s linear;

  .close-icon-container{
    top: 20px;
    right: 20px;
    background-color: #bbbbbb;

    .close-icon{
      color: var(--primary-color);
      font-weight: 550;
    }
  }

  .login-signup-form {
    width: 100%;
    margin-top: 20vh;

    .form-heading {
      font-size: 2rem;
      text-align: center;
      color: var(--primary-color);
      font-weight: 800;
    }

    .invalid-text-container{
      width: 100%;

      .invalid-text{
        color: red;
      }
    }

    .pass-input-container {
      border: 1px solid var(--border-color);
      background-color: #f7f7f7;
      outline: none;
      width: 100%;

      &:hover {
        border: 1px solid var(--hover-color);
      }

      &:focus {
        border: 1px solid var(--hover-color);
      }

      .pass-input {
        width: 80%;
        outline: none;
        height: 100%;
        background-color: #f7f7f7;
      }

      .visibility-icon {
        top: 20px;
        right: 10px;
        font-size: 20px;
        color: var(--primary-color);
      }
    }

    .submit-btn {
      color: white;
      background-color: var(--primary-color);
      font-weight: 700;
      width: 100%;

      &.submit-btn-disabled{
      background-color: var(--button-color-disable)!important;
      color: var(--text-color-disable)!important;
      }
    }
  }
  .login-signup-text-container{
    .login-signup-text{
      color: #f7f7f7;
      span{
        color: var(--primary-color);
        text-decoration: underline;
        &:hover{
          color: var(--hover-color);

        }
      }
    }
  }
}


///* Responsive Styles */
//@media only screen and (max-width: 768px) {
//  form {
//    width: 90vw;
//  }
//  form input {
//    width: 90vw;
//  }
//}
