<ng-container *ngIf="renderComponent">
  <div class="login-signup-form-container-i"
       [ngClass]="isBottomSheet?'':'w-600'"
       [ngStyle]="{'border-top-right-radius':isBottomSheet?'20px':'',
                  'height':isBottomSheet?'745px':'100vh',
                  'border-bottom-left-radius':isBottomSheet?'': '20px'
       }"
  >
  <app-bottomsheet-pill *ngIf="isBottomSheet" ></app-bottomsheet-pill>

    <div *ngIf="!isBottomSheet" (click)="closeForm()"
         class="close-icon-container position-absolute cursor-pointer flex-row justify-content-center align-i-center border-circle w-36 h-36">
      <mat-icon class="close-icon" fontIcon="close"></mat-icon>
    </div>

    <form class="login-signup-form p-10" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <p class="form-heading cursor-default">{{ formHeading }}</p>
      <input id="loginEmail"
             [ngStyle]="{'border-color':getEmailValidation()?'red':''}"
             class="pass-input-container fs-12 display-block h-60 position-relative br-10 pl-5 mt-30"
             formControlName="email" type="email"
             placeholder="Enter your email"/>

      <div class="invalid-text-container h-36 p-20">
        <p *ngIf="getEmailValidation()" class="invalid-text fs-12">* {{ invalidEmailText }}</p>
      </div>

      <div class="pass-input-container display-block h-60 position-relative br-10 pl-5 mt-30"
           [ngStyle]="{'border-color':getPassValidation() ? 'red':''}">
        <input class="fs-12 pass-input border-none br-5" id="loginPassword" formControlName="password"
               type="{{showPassword?'text':'password'}}"
               placeholder="Enter your password"/>
        <mat-icon
          (click)="toggleShowPassword()"
          [fontIcon]="showPassword?'visibility_off':'visibility'"
          class="visibility-icon position-absolute w-20 h-20 cursor-pointer">
        </mat-icon>
      </div>

      <div class="invalid-text-container h-36 p-20">
        <p *ngIf="getPassValidation()" class="invalid-text fs-12">* Password is required!</p>
      </div>

      <mm-button
        [type]="'submit'"
        [text]="'LOG IN'"
        [class]="'h-60 w-100p fs-16'"
        [iconClass]="'fw-1'"
        [disabled]=" getEmailValidation(true) || false"
      ></mm-button>
    </form>

    <div class="signup-text-container pl-10">
      <p class="signup-text">
        Not a user?
        <span (click)="navigateToLoginForm()" class="cursor-pointer">
          Signup
        </span>
      </p>
    </div>
  </div>
</ng-container>
