<div class="header-container w-100p h-56">
  <div *ngIf="true"
       [ngClass]="{
       'h-92':!expandedCategories && !expandedCategories,
       'h-200':!expandedCategories && expandProfile,
       'h-240':!expandProfile && expandedCategories
       }"
       class="header position-absolute br-8 pr-16 pl-16">
    <div class="upper-container h-92 flex-row align-i-center justify-content-space-b">
      <img [src]="CONSTANTS.LOGO.TRANSPARENT" class="w-132 h-132" alt="app_logo">
      <div class="right-section flex-row align-i-center gap-20 w-300 h-100p">


        <ng-container *ngIf="!(isLoading$ | async)">
          <ng-container *ngIf="isAuthenticated$ | async; else loginSignupTemplate">
            <div (click)="onProfileClick()"
                 [ngClass]="!renderIcon?'styles_ri':''"
                 class=" profile-pic-container border-circle align-i-center justify-content-center flex-row w-40 h-40">
              <img *ngIf="!renderIcon; else renderIconTemplate" [src]="user?.profileUrl">
            </div>
          </ng-container>

          <div (click)="onCategoriesClick()"
               [ngClass]="isMobile?'':'categories-hover'"
               class="ls-option-container h-40 align-i-center flex-row justify-content-space-b">
            <div class="ls-option-content l-s-o-i-i flex-row align-i-center pl-4 gap-8">
              <mat-icon class="ls-option-icon cursor-pointer fs-32 h-32 w-32" [fontIcon]="'category'"></mat-icon>
              <p class="ls-option-text cursor-pointer fw-7">CATEGORY</p>
            </div>
          </div>
          <div
            [ngClass]="isMobile?'':'icons-hover'"
            class="ls-option-container h-40 align-i-center flex-row justify-content-space-b">
            <div class="ls-option-content l-s-o-i-i flex-row align-i-center pl-4 gap-8">
              <mat-icon class="ls-option-icon cursor-pointer fs-32 h-32 w-32" [fontIcon]="'home'"></mat-icon>
              <p class="ls-option-text cursor-pointer fw-7">HOME</p>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
    <div
      [ngClass]="expandProfile || expandedCategories ? 'h-100p':'h-0'"
      class="expanded-container">
      <ng-container *ngIf="expandProfile">
        <ng-container *ngTemplateOutlet="expandedProfileTemplate"></ng-container>
      </ng-container>

    </div>

  </div>

</div>

<ng-template #expandedProfileTemplate>
  <div class=" expanded-profile-container mt-20 w-100p h-100p flex-row">
    <div class="h-100p gap-10 name-logout-container flex-column ">
      <p class="fw-8 cursor-pointer fs-20 w-100p "> {{ user?.name?.toUpperCase() || 'USER' }} </p>
      <p class="fw-7 cursor-pointer fs-14 w-100p">LOG OUT</p>
    </div>
  </div>
</ng-template>
<ng-template #expandedCategoryTemplate>

</ng-template>

<ng-template #loginSignupTemplate>
  <div
    (click)="onNavigationClick('login')"
    class=" ls-option-container l-s-o-i-i h-40 align-i-center flex-row justify-content-space-b">
    <div class="ls-option-content flex-row align-i-center gap-8 pl-4">
      <mat-icon class="ls-option-icon cursor-pointer fs-32 h-32 w-32" [fontIcon]="'login'"></mat-icon>
      <p class="ls-option-text cursor-pointer fw-7">LOGIN</p>
    </div>
  </div>
  <div (click)="onNavigationClick('signup')"
       class="ls-option-container l-s-o-i-i h-40 align-i-center flex-row justify-content-space-b">
    <div class="ls-option-content justify-content-space-b flex-row align-i-center pl-4 gap-8">
      <mat-icon class="ls-option-icon cursor-pointer fs-32 h-32 w-32" [fontIcon]="'person_add'"></mat-icon>
      <p class="ls-option-text cursor-pointer fw-7 ">SIGNUP</p>
    </div>
  </div>
</ng-template>

<ng-template #renderIconTemplate>
  <mat-icon class=" profile-pic-icon ls-option-icon cursor-pointer fs-32 h-32 w-32"
            [fontIcon]="'account_circle'"></mat-icon>
</ng-template>
